# Ignore Gradle Cache
.gradle

# Ignore Gradle build output directory
build/
**/build/

# Gradle Wrapper 포함
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
gen
rebel.xml

# macOS
*.DS_Store
.AppleDouble
.LSOverride

/master/
/slave/

# Ignore schema sql
/src/main/resources/schema.sql